.update-loader-container {
    display: flex;
    height: inherit;
    justify-content: center;
    align-items: center;
}

.update-error-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: inherit;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: bold;

    .img {
        width: 15rem;
    }
}

.update-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;

    .header {
        background-image: url('../../assets/images/banner.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 25rem;
        padding-left: 1rem;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        .name {
            font-size: 4.5rem;
            font-weight: bold;
        }

        .description {
            padding-bottom: 0.8rem;
            width: 80rem;
        }

        .location {
            padding-bottom: 0.8rem;
            font-weight: bold;
        }
    }

    .data-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .links {
            display: flex;
            flex-direction: column;
            gap: 5px;

            a {
                text-decoration: none;
                padding: 1rem;
                background: white;
                color: black;
                border-radius: 5px;
                text-align: center;
                width: 20rem;
                font-weight: bold;
            }
        }
    }

    input {
        width: 15rem;
        padding: 1rem;
        border-radius: 5px;
    }

    .claim {
        width: 10rem;
        height: 3rem;
        border-radius: 5px;
        color: white;
        background: #56ccf2;
        cursor: pointer;
    }
}